{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}
<div id="content-main">
    <h2>{% translate "Enter new password" %}</h2>

    {% if validlink %}
        <p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
        <form method="post">
            {% csrf_token %}
            <div class="form-row">
                {{ form.new_password1.errors }}
                {{ form.new_password1.label_tag }} {{ form.new_password1 }}
            </div>
            <div class="form-row">
                {{ form.new_password2.errors }}
                {{ form.new_password2.label_tag }} {{ form.new_password2 }}
            </div>
            <div class="submit-row">
                <input type="submit" value="{% translate 'Change my password' %}">
            </div>
        </form>
    {% else %}
        <p class="errornote">{% translate "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>
    {% endif %}
</div>
{% endblock %}
